@mixin flex-row
{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@mixin flex-row-spacebetween
{
  @include flex-row;
  justify-content: space-between;
}

@mixin border-horizontals($width, $color)
{
  border-top: $width solid $color;
  border-bottom: $width solid $color;
}
