/* fonts */
$font-size: 18px;
$font-normal: "Montserrat", sans-serif;
$font-mono: "JetBrains Mono", monospace;

/* couleurs principales */
$color-primary: #FA0022;
$color-secondary: #22FAFA;
$background-primary: #000;
$background-secondary: #111;
$text-light: #DDD;
$text-dark: #222;

