/* Couleurs */
$black: #111; /* 232 */
$darkgrey: #333; /* 236 */
$grey: #777; /* 242 */
$white: #bbb; /* 250 */
$red: #d70000; /* 160 */
$darkred: #870000; /* 88 */
$cyan: #00afaf; /* 44 */
$yellow: #ffd700; /* 220 */

