/* polices */
$font-size-default: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-normal: "Montserrat", sans-serif;
$font-mono: "JetBrains Mono", monospace;

/* taille de polices */
$h1-font-size: 2rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.17rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 0.83rem !default;
$h6-font-size: 0.67rem !default;

/* couleurs principales */
$color-primary: #FA0022;
$color-secondary: #22FAFA;
$background-primary: #000;
$background-secondary: #111;
$text-light: #DDD;
$text-dark: #AAA;
$accent-light: #DDD;
$accent-dark: #222;
